.rp_table {
    border: 1px solid black;
    border-collapse: collapse;
    overflow: auto;
}
.rp_table_div {
    overflow: auto;
    width: border-box;
    width:70vw;

}
.rp_table td{
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 65px;
    overflow: auto;
}
.rp_table tr {

}
.rp_tr_1 {
    height:auto;

}
.rp_tr_2 {
    height: 40vh;
}

#project_title{
    text-align: center;
    max-width: 500px;
}

.sprint_title{
    width: 120px;
    text-align: center;
    
}

.rp_textHeader textarea{
    resize: none;
    width: 120px;
}

#inner_Table td{
    width: 130px;
}


#inner_Table span {
    display: block;
    background-color: #ccc;
    border: 1px solid black;
    color: fff;
    height: 30px;
    width: 100%;
}