.rp_table {
    border: 1px solid black;
    border-collapse: collapse;
}
.rp_table_div {
    overflow: auto;
   /* border: 1px solid black; */
    width: 500px;
}
.rp_table td{
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 65px;
}
.rp_table tr {

}
.rp_tr_1 {
    height:auto;
    
}
.rp_tr_2 {
    height: 120px;
}
.rp_tr_3 {
    height: 30px;
}