<html>
<head>
    <title>Planning Page - Release Planning Plugin</title>
    <meta name="decorator" content="atl.general">
</head>
<body>
<h1>Release Planning Page</h1>

<p id="paragraph">Now it looks nice :)</p>
</body>
</html>