<html>
    <head>
        <title>Planning Page - Release Planning Plugin</title>
        <meta name="decorator" content="atl.general">
    </head>
    <body>
<div class ="jira-wikifield" renderer-type="atlassian-wiki-renderer">
<div class="wiki-edit">
        <textarea class="textarea long-field wiki-textfield long-field mentionable wiki-editor-initialised" id="description" name="description" rows="12" wrap="virtual" data-projectkey="SAM" resolved=""></textarea>
</div>
</div>
    </body>
</html>